:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-bgc: #e5e5e5;
  --secondary-bgc: #2f303a;
  --btn-hover-bgc: #188ce8;
  --portfolio-btn-bgc: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 16px

}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Index */
/* header */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-text-color);
  line-height: 31px;

}
.header-logo > span {
  color: var(--logo-color);
}
.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--title-text-color);
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}
.header-link.current {
  color: var(--accent-text-color);
}
.header-mail,
.header-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--accent-text-color);
}

/* Hero */
.hero {
  background-color: var(--secondary-bgc);
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--white-text-color);
  letter-spacing: 0.06em;

}
.btn {
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  letter-spacing: 0.06em;

}
.btn:hover,
.btn:focus {
  background-color: var(--btn-hover-bgc);
}
/* Benefits */
.benefits-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--title-text-color);
}
.benefits-subtext {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}
/* Examples */
.examples-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--title-text-color);
}
/* Team */
.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--title-text-color);
}
.team-subtitle {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
  color: var(--title-text-color);
}
.team-subtext {
  font-style: normal;
  line-height: 19px;
}
/* Footer */
.footer {
  background-color: var(--secondary-bgc);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--accent-text-color);
}
.footer-logo > span {
  color: var(--white-text-color);
}
.footer-adrs {
  font-style: normal;

  font-size: 14px;
  line-height: 24px;
  color: var(--white-text-color);
}
.footer-mail {
  font-style: normal;

  font-size: 14px;
  line-height: 24px;
  color: var(--footer-contacts-color);
}
.footer-tel {
  font-style: normal;

  font-size: 14px;
  line-height: 24px;
  color: var(--footer-contacts-color);
}
.footer-tel:focus,
.footer-tel:hover,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-text-color);
}

/* Portfolio */
/* section portfolio */
.potrfolio-btn {
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: var(--title-text-color);
  background-color:var(--portfolio-btn-bgc)
  cursor: pointer;
}
.potrfolio-btn:focus,
.potrfolio-btn:hover {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
}
.projects-link > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: var(--title-text-color);
  letter-spacing: 0.06em;

}
.projects-link > p {
  font-style: normal;
  line-height: 30px;
  color: var(--primary-text-color);
}
